

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

a, a:hover {
	text-decoration: none !important;
}

.content {
	height: 30vh;
}

.footer-16371 {
	padding: 3rem 0;
	background-color: #fafafa;
}

.footer-16371 .footer-site-logo {
	text-align: center;
	font-size: 16px;
	font-weight: 900;
}

.footer-16371 .footer-site-logo a {
	color: #1f1f1f;
}

.footer-16371 .nav-links {
	padding: 0;
	margin: 0;
}

.footer-16371 .nav-links li {
	display: inline-block;
}

.footer-16371 .nav-links li a {
	padding: 10px;
	color: #000;
}

.footer-16371 .nav-links li a:hover {
	font-size: 14px;
}

.footer-16371 .social h3 {
	font-size: 12px;
	color: gray;
}

.footer-16371 .social ul li {
	display: inline-block;
}

.footer-16371 .social ul li a {
	display: inline-block;
	padding: 10px;
}

.footer-16371 .social ul li.in a {
	color: #ccc8c8;
}

.footer-16371 .social ul li.tw a {
	color: #b2afaf;
}

.footer-16371 .social ul li.fb a {
	color: #999696;
}

.footer-16371 .social ul li.dr a {
	color: #7f7d7d;
}

.footer-16371 .social ul li.pin a {
	color: #666464;
}

.footer-16371 .copyright {
	color: #999999;
}