
	body{
	  overflow: hidden;
	}
	
	.camera{
	  font-size: 15px;
	  font-weight:200;
	}
	
	.camera-mod{
	  top:120px;
	  left:70px;
	}
	
	/* 모달창의 배경을 만든다 */
	.modal__background{
	  position: fixed;
	  top:0; left: 0; bottom: 0; right: 0;
	  background: rgba(0, 0, 0, 0.5);
	}
	 
	/* 모달창 영역을 꾸민다 */
	.modal__box{
	  position: absolute;
	  top: calc(30vh - 100px); left: 250px;
	  background-color: white;
	  display: flex; justify-content: center;
	  align-items: center;
	  border-radius: 10px;
	  width: 700px;
	  height: 400px;
	  padding-top: 30px;
	}
	
	/* 모달창 내부 */
	#top{
	  border-radius: 10px 10px 0px 0px;
	  padding:3px 0px;
	  width: 100%;
	  background-color: rgba(0, 0, 0, 0.2);
	  position: absolute;
	  left:0px;
	  top:0px;
	  text-align: right;
	}
	
	#btn-close{
	  cursor: pointer;
	  margin-left: 10px;
	}
	
	#showimg{
	  width: 200px;
	  height: 200px;
	  position: relative;
	  left: 140px;
	}
	
	.icon{
	  margin-left: 10px;
	}

	textarea {
	  margin-left: 200px;
	  border-radius: 4px;
	  border: 1px solid gray;
	  color: #311b92;
	  width: 300px; height: 300px;
	  position: relative;
	  right:50px;
	  resize: none;
	  padding: 20px 20px;
	}
	
	textarea:focus{
	  border: none;
	  outline: 1px solid gold;
	}